<footer>
    <div class="footer-buttons">
        <div class="btn-footer">
            <a href="https://wa.link/vn0mvq" target="_blank">
                <img class="footer-img btn-doc" src="assets/img/infomes.png" alt="WhatsApp" />
            </a>
        </div>
        <div class="btn-footer">
            <a href="https://docs.google.com/forms/d/1EsT4cu29UyYDR_A1cL8jrddLUynAkuFFgzgU28iHmZo/viewform?edit_requested=true" target="_blank">
                <img class="footer-img btn-doc" src="assets/img/registrate.png" alt="Regístrate" />
            </a>
        </div>
        <div class="btn-footer">
            <a href="https://www.instagram.com/tye_veracruz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img class="footer-img btn-insta" src="assets/img/insta.png" alt="Instagram" />
            </a>
        </div>
    </div>
 
    <p>© 2025 Testimonio y Esperanza · Peregrinación Juvenil a Cristo Rey</p>
</footer>